.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 34px;
  position: relative;
}

.avocado1 {
  position: absolute;
  top: -120px;
  right: 0px;
  opacity: 60%;
  transform: rotate(180deg);
}

.avocado2 {
  position: absolute;
  bottom: -20px;
  opacity: 60%;
}
