.avocado1 {
  position: absolute;
  top: -120px;
  right: 0px;
  opacity: 60%;
  transform: rotate(180deg);
}

.avocado2 {
  position: absolute;
  bottom: -20px;
  opacity: 60%;
}

@media (min-width: 768px) {
  .avocado1 {
    height: 400px;
    width: 400px;
  }
  .avocado2 {
    height: 350px;
    width: 350px;
  }
}
