.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 34px;
  position: relative;
}

.container p {
  color: var(--purple-dark);
  font-size: medium;
  text-align: left;
}

.container a {
  color: black;
}

.doneLink {
  position: absolute;
  inset: 20px 20px auto auto;
}

.banana {
  position: absolute;
  opacity: 60%;
  transform: rotate(70deg);
  bottom: 20px;
}
