.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 34px;
  position: relative;
}

.container p {
  color: var(--purple-dark);
  font-size: medium;
}

.container a {
  color: black;
}

.doneLink {
  position: absolute;
  top: 30px;
  left: 30px;
}

.doneLink > img {
  height: 35px;
}

.banana {
  position: absolute;
  opacity: 60%;
  transform: rotate(70deg);
  bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 86px;
  }

  .doneLink {
    top: 74px;
    left: 80px;
  }

  .doneLink > img {
    height: 60px;
  }

  .container p {
    font-size: xx-large;
  }

  .doneLink {
    font-size: 24px;
  }

  .banana {
    height: 400px;
  }
}
