.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 34px;
  position: relative;
}

.doneLink {
  position: absolute;
  top: 30px;
  left: 30px;
}

.doneLink > img {
  height: 35px;
}

.wheat {
  position: absolute;
  opacity: 60%;
  bottom: 20px;
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }

  .doneLink {
    top: 74px;
    left: 80px;
  }

  .doneLink > img {
    height: 60px;
  }

  .doneLink {
    font-size: 24px;
  }

  .wheat {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 50px 50px 50px 22%;
  }

  .doneLink {
    display: none;
  }

  .wheat {
    position: absolute;
    height: 400px;
    width: 400px;
    inset: auto auto -120px auto;
  }
}
