.container {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  gap: 32px;
}

.container > p {
  color: var(--purple-dark);
  text-align: left;
  font-size: larger;
  margin: 0;
}

.statsRow {
  display: flex;
  justify-content: space-between;
}
