.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  inset: auto 0 0;
  border-top: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
}

.container a {
  margin: 12px 34px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    display: flex;
    height: 120px;
    justify-content: space-around;
  }
  .fontAwesomeSide {
    height: 60px;
  }

  .fontAwesomeCenter {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: none;
  }
}
