.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: auto 0 0;
  border-top: 1px solid rgb(204, 204, 204);
  background-color: white;
}

.container a {
  margin: 12px 34px;
}

@media (min-width: 768px) {
  .container {
    height: 120px;
  }
  .fontAwesomeSide {
    height: 60px;
  }

  .fontAwesomeCenter {
    height: 80px;
  }
}
