.container {
  display: flex;
  justify-content: space-between;
  margin: 24px 34px 0;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.goalContainer div {
  border: 1px solid grey;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
}

.listContainer {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 3px;
  padding: 16px;
  height: 144px;
  background-color: var(--card-background-purple);
  box-shadow: 1px 1px 2px grey;
}

.foodList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: small;
}

.red {
  color: var(--list-red);
}

.orange {
  color: var(--list-orange);
}

.yellow {
  color: var(--list-yellow);
}

.green {
  color: var(--list-green);
}

.blue {
  color: var(--list-blue);
}

.tan {
  color: var(--list-tan);
}
