.container {
  display: flex;
  justify-content: space-around;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.goalContainer div {
  width: 184px;
  height: 184px;
  margin: 0px;
}

.goalContainer p {
  margin-top: -10px;
}

.listContainer {
  height: 144px;
  background-color: var(--card-background-purple);
  margin-top: 25px;
  padding: 8px 16px;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(167, 163, 192);
  overflow: scroll;
}

.foodList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: small;
}

.carrot {
  position: absolute;
  top: 63px;
  left: 66px;
  height: 55px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .goalContainer div {
    width: 280px;
    height: 280px;
  }

  .goalContainer p {
    font-size: 24px;
  }

  .carrot {
    top: 95px;
    left: 95px;
    height: 80px;
  }

  .listContainer {
    height: 240px;
    width: 178px;
    border-radius: 8px;
  }

  .foodList {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 45%;
    justify-content: flex-start;
    gap: 20px;
  }
  .goalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
  }
  .goalContainer > div {
    height: 80%;
    width: 80%;
  }
  .carrot {
    top: 29%;
    left: 40%;
    height: 80px;
  }
  .listContainer {
    width: 30%;
    max-width: 185px;
    height: 80%;
  }
  .foodList {
    font-size: medium;
  }
}
