.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-top: 16px;
}

.smallButton {
  line-height: 50px;
  display: inline-block;
  text-align: center;
  padding: 1px 6px;
  background-color: var(--purple-light);
  color: white;
  font-size: medium;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
}

@media (min-width: 768px) {
  .smallButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 278px;
  }
}
