.container {
  display: none;
  position: absolute;
  color: white;
  background-color: var(--purple-dark);
  box-shadow: 1px 2px 4px rgb(130, 112, 212);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  height: 100vh;
  padding: 40px 0 40px;
  font-size: large;
}

.container > p {
  font-size: 28px;
  margin: 0 0 24px;
  padding: 0 30px;
}

.logo {
  width: 24px;
  height: 24px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.linksContainer span {
  margin-left: 12px;
}

.linksContainer > img {
  opacity: 0.6;
  width: 85%;
  padding: 0 10px;
}

.topLinks {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.topLinks a {
  height: 50px;
}

.topLinks a:hover {
  color: rgb(199, 199, 199);
}

.bottomLink {
  padding: 0 30px;
}

.bottomLink a {
  height: 50px;
}

.bottomLink a:hover {
  color: rgb(199, 199, 199);
}

@media (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 18%;
    top: 0;
    left: 0;
  }
}
