.subheading {
  align-self: flex-start;
  margin: 10px 0 0;
  color: var(--purple-dark);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 16px;
}

.color {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.icon {
  height: 35px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.iconHighlight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgb(187, 172, 214);
  border: 1px solid var(--purple-dark);
  border-radius: 50%;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .icon {
    height: 55px;
  }
  .iconContainer {
    height: 80px;
    width: 80px;
  }
  .iconHighlight {
    height: 80px;
    width: 80px;
  }
  .subheading {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
