.subheading {
  text-align: left;
  margin: auto auto 0 34px;
  color: var(--purple-dark);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px 34px 0;
  height: 50px;
  width: 100%;
}

.color {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.icon {
  height: 35px;
  width: 35px;
}

.iconHighlight {
  height: 35px;
  width: 35px;
  border: 1px solid #f9c449;
  border-radius: 50%;
}
