.container {
  display: flex;
  flex-direction: column;
  margin: 0 34px;
  gap: 16px;
}

.breakdownHeader {
  text-align: left;
  font-size: larger;
}

.progressBar {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 3px;
  height: 64px;
  background-color: rgb(211, 211, 211);
}
