.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container > p {
  color: var(--purple-dark);
  text-align: left;
  font-size: larger;
  margin: 0;
}

.progressBar {
  border: 1px solid var(--purple-dark);
  border-radius: 3px;
  height: 64px;
}

.progressItem {
  display: inline-block;
  height: 101%;
  border: none;
}

.emptyBar {
  line-height: 60px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    gap: 24px;
  }
  .container > p {
    font-size: 28px;
  }

  .progressBar {
    height: 120px;
  }
}
