.container {
  display: flex;
  flex-direction: column;
  margin: 0 34px;
  gap: 16px;
}

.container p {
  color: var(--purple-dark);
  text-align: left;
  font-size: larger;
  margin: 0;
}

.progressBar {
  border: 2px solid var(--purple-dark);
  border-radius: 3px;
  height: 64px;
}

.progressItem {
  display: inline-block;
  height: 101%;
  border: none;
}
