.watermelon1 {
  position: absolute;
  top: -30px;
  right: 10px;
  height: 230px;
  width: 230px;
  opacity: 60%;
  transform: rotate(150deg);
}

.watermelon2 {
  position: absolute;
  bottom: -30px;
  height: 230px;
  width: 230px;
  opacity: 60%;
  transform: rotate(-30deg);
}

@media (min-width: 768px) and (min-height: 1024px) {
  .watermelon1 {
    height: 350px;
    width: 350px;
  }
  .watermelon2 {
    height: 350px;
    width: 350px;
    left: 380px;
  }
}
