.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 34px;
}

.watermelon1 {
  position: absolute;
  top: -30px;
  right: 10px;
  height: 230px;
  width: 230px;
  opacity: 60%;
  transform: rotate(150deg);
}

.watermelon2 {
  position: absolute;
  bottom: -30px;
  right: 10px;
  height: 230px;
  width: 230px;
  opacity: 60%;
  transform: rotate(-30deg);
}
