.heading2 {
  color: var(--purple-dark);
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .heading2 {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  .heading2 {
    font-size: 25px;
  }
}
