.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding-top: 24px;
}

.passwordFields {
  height: 50px;
  border-width: 0 0 1px;
  border-color: black;
  background: none;
}

.passwordFields::placeholder {
  color: black;
}

.passwordButtonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.passwordButton {
  background-color: var(--purple-light);
  color: white;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  font-size: medium;
}

@media (min-width: 768px) {
  .passwordFields {
  }

  .passwordFields::placeholder {
  }
  .passwordButtonPair {
    gap: 40px;
  }
  .passwordButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 278px;
  }
}
