.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 24px;
}

.doneLink {
  position: absolute;
  top: -50px;
  left: -5px;
}

.doneLink > img {
  height: 35px;
}

.passwordFields {
  height: 50px;
  width: 307px;
  border-width: 0 0 1px;
  border-color: black;
  background: none;
}

.passwordFields::placeholder {
  color: black;
}

.passwordButtonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.passwordButtonPair > button,
.passwordButton {
  background-color: var(--purple-light);
  color: white;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  font-size: medium;
}

@media (min-width: 768px) {
  .container {
    gap: 30px;
  }

  .doneLink {
    position: absolute;
    top: -75px;
    left: -5px;
  }

  .doneLink > img {
    height: 60px;
  }

  .passwordFields {
    height: 92px;
    width: 596px;
    font-size: 24px;
  }

  .passwordFields::placeholder {
    font-size: 24px;
  }
  .passwordButtonPair {
    gap: 40px;
  }
  .passwordButtonPair > button,
  .passwordButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 278px;
  }
}
