.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 34px;
  margin-right: 34px;
  gap: 25px;
}

.signInFields {
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.signInButtonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.signInButtons {
  background-color: grey;
  height: 50px;
  width: 179px;
  border-radius: 4px;
  border: none;
}
