.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 34px;
  gap: 25px;
}

.signInFields {
  height: 50px;
  border-width: 0 0 2px;
}

.signInButton {
  background-color: grey;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: none;
}
