.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signInFields {
  height: 50px;
  width: 100%;
  border-width: 0 0 1px;
  border-color: black;
  background: none;
  padding-left: 8px;
  margin-top: 25px;
}

.signInFields::placeholder {
  color: black;
}

.signInButton {
  background-color: var(--purple-dark);
  color: white;
  height: 50px;
  width: 307px;
  border-radius: 4px;
  border: none;
  margin-top: 24px;
}

.signInButton:disabled {
  background-color: darkgray;
}

@media (min-width: 1024px) {
  .signInButton {
    width: 300px;
  }
  .signInFields {
    width: 500px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .signInFields {
    max-width: 596px;
    height: 92px;
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 596px;
  }
  .signInFields::placeholder {
    font-size: 24px;
  }

  .signInButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 596px;
  }
}
