.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 34px;
  gap: 25px;
}

.signInFields {
  height: 50px;
  border-width: 0 0 1px;
  border-color: black;
  background: 0;
}

.signInFields::placeholder {
  color: black;
}

.signInButton {
  background-color: var(--purple-dark);
  color: white;
  height: 50px;
  width: 307px;
  border-radius: 4px;
  border: none;
}
