.largeButton,
.landingLargeButton {
  line-height: 50px;
  display: inline-block;
  text-align: center;
  padding: 1px 6px;
  background-color: var(--purple-light);
  height: 50px;
  width: 307px;
  border-radius: 4px;
  border: none;
  color: white;
}

.landingLargeButton {
  background-color: var(--purple-dark);
}

@media (min-width: 768px) and (min-height: 1024px) {
  .largeButton,
  .landingLargeButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 596px;
  }
}

@media (min-width: 1024px) {
  .largeButton {
    width: 50%;
  }
}
