.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 34px 0;
}

.yourProfile {
  font-size: larger;
  margin: 0;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
}
