.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 307px;
}

.doneLink {
  position: absolute;
  top: -45px;
  left: 0;
}

.doneLink > img {
  height: 35px;
}

.avatarContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
}

.image {
  height: 70px;
  width: 70px;
}

.pen {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .container {
    width: 596px;
  }

  .doneLink {
    top: -75px;
  }
  .doneLink > img {
    height: 60px;
  }
  .avatarContainer {
    height: 140px;
    width: 140px;
  }

  .image {
    height: 115px;
    width: 115px;
  }

  .pen {
    font-size: 32px;
  }
}
