.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yourProfile {
  font-size: larger;
  margin: 0;
}

.avatarContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
}

.image {
  height: 70px;
  width: 70px;
}

.pen {
  position: absolute;
  top: 0;
  right: 0;
}
