.statContainer {
  width: 45%;
  height: 72px;
  background-color: var(--card-background-purple);
  border-radius: 6px;
  box-shadow: 1px 1px 4px grey;
}

.topRow {
  display: flex;
  padding: 2px 0 0 2px;
}

.topRow > span {
  font-size: small;
  padding: 5px;
  font-weight: 500;
}

.statContainer > p {
  margin: 0;
  font-size: x-large;
  font-weight: 300;
}

.icon {
  height: 28px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .statContainer {
    height: 110px;
  }

  .topRow {
    padding: 4px 0 0 4px;
  }

  .topRow > span {
    font-size: 22px;
    padding: 10px;
  }

  .statContainer > p {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
  }

  .icon {
    height: 50px;
  }
}

@media (min-width: 1024px) {
  .statContainer {
    width: 90%;
  }
}
