.statContainer {
  width: 45%;
  height: 72px;
  background-color: var(--card-background-purple);
  border-radius: 3px;
  box-shadow: 1px 1px 4px grey;
}

.statContainer > p {
  font-size: small;
  text-align: left;
  margin: 0;
}
