.statContainer {
  width: 45%;
  height: 72px;
  background-color: var(--card-background-purple);
  border-radius: 6px;
  box-shadow: 1px 1px 4px grey;
}

.topRow {
  display: flex;
  padding: 2px 0 0 2px;
}

.topRow > span {
  font-size: small;
  padding: 5px;
  font-weight: 500;
}

.statContainer > p {
  margin: 0;
  font-size: x-large;
  font-weight: 300;
}

.icon {
  height: 28px;
}
