.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  min-width: 307px;
}
.inputButtonPair {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 16px;
}
.passwordContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.input {
  background: none;
  height: 50px;
  width: 80%;
  min-width: 222px;
  border-width: 0 0 1px;
  border-color: black;
}
.password {
  background: none;
  height: 50px;
  width: 78%;
  min-width: 222px;
  border-width: 0 0 1px;
  border-color: black;
  margin-bottom: 16px;
}
.inputButton,
.inputButtonSaved {
  background-color: rgba(235, 221, 245, 0.3);
  width: 20%;
  min-width: 60px;
  border-radius: 6px;
  border-width: 1px;
  margin: 10px 0;
}
.inputButton {
  border: 1px solid gray;
}
.inputButtonSaved {
  border: 1.8px solid var(--purple-dark);
}
.container label ~ label {
  margin-top: 15px;
}
.error {
  text-align: left;
  color: rgba(196, 10, 10, 0.821);
  margin: 0 0 8px 4px;
  width: 80%;
  min-width: 222px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .formContainer {
    width: 596px;
  }
  .input {
    height: 95px;
    width: 435px;
    font-size: x-large;
  }
  .password {
    height: 95px;
    width: 435px;
    font-size: x-large;
  }
  .inputButton,
  .inputButtonSaved {
    width: 150px;
    border-radius: 8px;
    font-size: x-large;
    border: 2.8px solid var(--purple-dark);
  }
  .error {
    font-size: 24px;
  }
}
