.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-top: 16px;
}

.smallButton {
  line-height: 50px;
  display: inline-block;
  text-align: center;
  padding: 1px 6px;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: var(--purple-light);
}

.smallButton:disabled {
  background-color: darkgray;
}

.passwordField {
  height: 50px;
  width: 307px;
  border-width: 0 0 1px;
  border-color: black;
  background: none;
  margin-top: 8px;
}

.deleteAccountText {
  font-size: smaller;
}

.deleteAccountForm {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .buttonPair {
    gap: 40px;
  }
  .smallButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 278px;
  }
  .passwordField {
    height: 92px;
    width: 596px;
    font-size: 24px;
  }
  .deleteAccountText {
    font-size: larger;
  }
}
