.container {
  margin: 25px auto 25px auto;
  max-width: 310px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 34px;
}

.buttonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.smallButton {
  line-height: 50px;
  display: inline-block;
  text-align: center;
  padding: 1px 6px;
  background-color: grey;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #8178e9;
}
