.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
}

.buttonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-top: 16px;
}

.smallButton {
  line-height: 50px;
  display: inline-block;
  text-align: center;
  padding: 1px 6px;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: var(--purple-light);
}
