.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doneLink {
  position: absolute;
  top: -185px;
  left: 0;
}

.doneLink > img {
  height: 35px;
}

.numberPickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numberPicker {
  background-color: #fffcfc;
  border: solid thin var(--purple-dark);
  border-radius: 2px;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: 600;
  font-size: xx-large;
  color: var(--purple-dark);
}

.numberPicker::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberPicker[type="number"] {
  -moz-appearance: textfield;
}

.arrowUp,
.arrowDown,
.arrowDownDisabled,
.arrowUpDisabled {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.arrowUp {
  border-bottom: 20px solid var(--purple-light);
  margin-bottom: 9px;
}

.arrowDown {
  border-top: 20px solid var(--purple-light);
  margin-top: 9px;
}

.arrowDownDisabled {
  border-top: 20px solid lightgray;
  margin-top: 9px;
  pointer-events: none;
}

.arrowUpDisabled {
  border-bottom: 20px solid lightgray;
  margin-bottom: 9px;
  pointer-events: none;
}

.button {
  line-height: 45px;
  padding: 1px 6px;
  height: 50px;
  width: 150px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: var(--purple-light);
  margin-top: 24px;
}

.button:disabled {
  background-color: lightgray;
}

.error {
  color: rgba(196, 10, 10, 0.821);
  margin: 0;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .button {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 250px;
  }

  .doneLink {
    top: -270px;
  }

  .doneLink > img {
    height: 60px;
  }

  .numberPicker {
    height: 150px;
    width: 150px;
    line-height: 150px;
    font-weight: 600;
    font-size: 60px;
  }

  .arrowUp,
  .arrowDown,
  .arrowUpDisabled,
  .arrowDownDisabled {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }

  .arrowUp {
    border-bottom: 30px solid var(--purple-light);
  }

  .arrowDown {
    border-top: 30px solid var(--purple-light);
  }

  .arrowDownDisabled {
    border-top: 30px solid lightgray;
  }
  .arrowUpDisabled {
    border-bottom: 30px solid lightgray;
  }
  .error {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .doneLink {
    display: none;
  }
  .button {
    width: 250px;
  }
  .numberPicker {
    height: 150px;
    width: 150px;
    line-height: 150px;
    font-weight: 600;
    font-size: 60px;
  }

  .arrowUp,
  .arrowDown,
  .arrowUpDisabled,
  .arrowDownDisabled {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }

  .arrowUp {
    border-bottom: 30px solid var(--purple-light);
  }

  .arrowDown {
    border-top: 30px solid var(--purple-light);
  }

  .arrowDownDisabled {
    border-top: 30px solid lightgray;
  }
  .arrowUpDisabled {
    border-bottom: 30px solid lightgray;
  }
}
