.berry {
  position: absolute;
  inset: -30px 0 auto auto;
  height: 150px;
  width: 150px;
  opacity: 60%;
  transform: scaleX(-1);
}

.redBerry {
  position: absolute;
  inset: auto auto 10px -50px;
  rotate: -35deg;
  height: 150px;
  width: 150px;
  opacity: 60%;
  transform: scaleX(-1);
}

@media (min-width: 768px) and (min-height: 1024px) {
  .berry {
    inset: -30px 0 auto auto;
    height: 200px;
    width: 200px;
  }

  .redBerry {
    inset: auto auto 10px 0;
    rotate: -10deg;
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 1025px) {
  .berry {
    inset: -30px 0 auto auto;
    height: 200px;
    width: 200px;
  }
  .redBerry {
    inset: auto auto 10px auto;
    rotate: -10deg;
    height: 200px;
    width: 200px;
  }
}
