.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 34px;
}

.container p {
  color: var(--purple-dark);
  font-size: medium;
}

.berry {
  position: absolute;
  top: -20px;
  left: -60px;
  height: 200px;
  width: 200px;
  opacity: 60%;
}
