.container {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin: 0 34px;
  margin-top: 32px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 8px;
}

.firstNameText {
  font-size: larger;
}

.joinDateText {
  font-size: small;
}

.avatarContainer {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: rgb(214, 214, 214);
}
