.container {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin: 24px 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.joinDateText {
  font-size: small;
  margin: 0;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
}

.image {
  height: 70px;
  width: 70px;
}
