.container {
  text-align: center;
  height: 100vh;
  padding: 34px;
}

.columnRight {
  display: none;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }
}

@media (min-width: 1025px) {
  .container {
    display: flex;
    align-items: center;
    padding: 50px 50px 50px 22%;
  }

  .columnRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
    gap: 10%;
  }
  .columnLeft {
    display: flex;
    width: 70%;
    justify-content: center;
  }
}
