.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 24px 0;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 11px;
  margin: 14px 0;
}

.buttonContainer > button {
  line-height: 45px;
  display: inline-block;
  padding: 1px 6px;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: var(--purple-light);
  text-align: center;
}

.avatarList {
  display: flex;
  height: 350px;
  justify-content: space-around;
  margin-bottom: 24px;
  overflow: scroll;
}

.avatarListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(177, 177, 177);
  width: 104px;
  height: 104px;
  background-color: white;
  border-radius: 50%;
  margin: 20px 0;
}

.avatarListItemSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffdb4b;
  width: 104px;
  height: 104px;
  background-color: white;
  border-radius: 50%;
  margin: 20px 0;
}

.avatar {
  height: 75px;
  width: 75px;
}

.error {
  color: rgba(196, 10, 10, 0.821);
  margin: 4px auto;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .buttonContainer {
    gap: 40px;
  }

  .buttonContainer > button {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 278px;
  }

  .avatarList {
    height: 450px;
  }

  .avatarListItem {
    height: 150px;
    width: 150px;
  }

  .avatarListItemSelected {
    height: 150px;
    width: 150px;
  }

  .avatar {
    height: 120px;
    width: 120px;
  }
  .error {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 60%;
    align-self: center;
  }
  .avatarList {
    height: 500px;
  }
  .avatarListItem {
    height: 160px;
    width: 160px;
  }
  .avatarListItemSelected {
    height: 160px;
    width: 160px;
  }

  .avatar {
    height: 120px;
    width: 120px;
  }
}
