.doneLink {
  position: absolute;
  /* inset: -45px auto auto 0; */
}

.doneLink > img {
  height: 35px;
}

@media (min-width: 768px) {
  .doneLink {
    inset: -75px auto auto 0;
  }
  .doneLink > img {
    height: 60px;
  }
}
