.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 34px;
}

.container > input {
  border-width: 0 0 1px;
  width: 100%;
  height: 50px;
  padding-left: 8px;
}

.backgroundImage {
  height: 300px;
  width: 100%;
  border: 1px solid grey;
  margin: 20px 0 30px;
  border-radius: 3px;
  background-color: lightgray;
}

.buttons {
  display: flex;
  gap: 11px;
}
