.listContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 238px;
  overflow: scroll;
  background-color: #c6c1e7;
  opacity: 0.7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.foodBtn {
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 34px;
  padding-left: 8px;
  background: none;
  border: none;
}

.foodBtn:hover {
  background-color: white;
}

.colorDot {
  margin-right: 8px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .listContainer {
    max-height: 350px;
  }
  .foodBtn {
    min-height: 50px;
    font-size: 24px;
  }
  .colorDot {
    height: 24px;
    width: 24px;
  }
}
