.listContainer {
  position: fixed;
  top: 216px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 28%;
  max-height: 306px;
  overflow: scroll;
}

.foodBtn {
  text-align: left;
  min-height: 34px;
  width: 92%;
  padding-left: 8px;
  background: none;
  border: none;
}

.foodBtn:hover {
  background-color: white;
}
