.listContainer {
  position: fixed;
  top: 215px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foodBtn {
  text-align: left;
  margin: 0 37px;
  height: 34px;
  border: 0.5px solid;
  padding-left: 8px;
}

.foodBtn:hover {
  background-color: #ffffff;
}
