.inputField {
  height: 50px;
  width: 307px;
  border-width: 0 0 1px;
  border-color: black;
  background: none;
}

.inputField::placeholder {
  color: black;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .inputField {
    height: 92px;
    width: 596px;
    font-size: 24px;
  }

  .inputField::placeholder {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .inputField {
    width: 400px;
  }
}
