.container {
  display: none;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0 16px;
  }

  .name {
    font-size: 25px;
    font-weight: 400;
    color: var(--purple-dark);
    margin: 8px 0;
  }

  .joinDateText {
    font-size: small;
    margin: 0;
  }

  .avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 85px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
  }

  .image {
    height: 70px;
    width: 70px;
  }
}
