.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  padding: 34px;
}

.passionFruit {
  position: absolute;
  bottom: 40px;
  height: 230px;
  width: 230px;
  opacity: 60%;
}

.guava {
  display: none;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }

  .passionFruit {
    height: 320px;
    width: 320px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 50px 50px 50px 22%;
    justify-content: center;
  }

  .passionFruit {
    inset: auto auto -40px auto;
    height: 320px;
    width: 320px;
  }

  .guava {
    position: absolute;
    display: block;
    inset: auto -180px 300px auto;
    height: 320px;
    width: 320px;
    rotate: 90deg;
    opacity: 60%;
  }
}
