.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 34px;
  position: relative;
}

.fruit {
  position: absolute;
  bottom: 40px;
  height: 230px;
  width: 230px;
  opacity: 60%;
}

@media (min-width: 768px) {
  .container {
    padding: 86px;
  }

  .fruit {
    height: 320px;
    width: 320px;
  }
}
