.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 34px;
}

.form input {
  margin-top: 25px;
  height: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
}

.formInput {
  background: none;
  max-width: 500px;
  padding-left: 8px;
}

.inputButton {
  border-radius: 4px;
  max-width: 307px;
}
