.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 34px;
}

.formInput {
  background: none;
  max-width: 500px;
  padding-left: 8px;
  margin-top: 25px;
  height: 50px;
  border-width: 0 0 1px;
  width: 100%;
  border-color: black;
}

.formInput::placeholder {
  color: black;
}

.inputButton {
  background-color: var(--purple-dark);
  color: white;
  border: none;
  border-radius: 4px;
  width: 307px;
  margin-top: 25px;
  height: 50px;
}
