.container {
  margin: 0 34px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 24px 0;
}

.button {
  width: 70px;
  height: 35px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 4px;
  background-color: #f0ebff;
}

.button:disabled {
  color: black;
  box-shadow: 1px 1px 4px var(--filter-purple);
}

.barChart {
  height: 200px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 0px;
  background-color: #dad3ef;
}

.barChartContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  margin: 12px 4px;
  height: 90%;
}
