.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 32px 0 0;
}

.button {
  width: 33.33%;
  height: 35px;
  border: 1px solid rgb(215, 215, 215);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f0ebff;
}

.button:disabled {
  color: var(--purple-dark);
  border: none;
  background-color: #dad3ef;
}

.barChart {
  position: relative;
  height: 200px;
  border: 1px solid #dad3ef;
  border-radius: 0px;
  background-color: #dad3ef;
  z-index: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.barChartImg {
  position: absolute;
  z-index: -1;
  inset: 0;
  background: url("../../public/plate.png") center center;
  background-repeat: no-repeat;
  background-size: 175px;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}

.barChartContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  margin: 12px;
  height: 90%;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .button {
    height: 55px;
    font-size: 20px;
  }

  .barChartImg {
    background-size: 225px;
  }

  .barChart {
    height: 300px;
  }
  .barChartContainer {
    margin: 16px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 55%;
  }
  .barChart {
    height: 80%;
    width: 90%;
  }
  .buttonContainer {
    width: 90%;
  }
}
