.heading1,
.heading1Landing {
  color: var(--purple-dark);
  font-size: 26px;
  margin-top: 0;
  font-weight: 400;
}

@media (min-width: 768px) {
  .heading1,
  .heading1Landing {
    font-size: 36px;
  }
}

@media (min-width: 1025px) {
  .heading1 {
    position: absolute;
    left: 22%;
    top: 4%;
  }
}
