.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding: 34px;
}

.error {
  color: rgba(196, 10, 10, 0.821);
  margin: auto auto;
}

.todayColumnLeft {
  height: 80%;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }
  .error {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px 50px 22%;
  }
  .todayColumnLeft {
    width: 70%;
    height: 100%;
  }
  .todayColumnRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
  }
}
