.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding: 34px;
}

.todayColumnLeft {
  height: 80%;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px 50px 22%;
  }
  .todayColumnLeft {
    width: 70%;
    height: 100%;
  }
  .todayColumnRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
  }
}
