.container {
  text-align: center;
  padding-top: 17px;
  height: 100vh;
}

.settingsBtn {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 20px;
  right: 20px;
  border: 1px solid grey;
  border-radius: 50%;
}
