.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: var(--landing-gradient);
  padding: 34px;
}

.signInText {
  font-size: 16px;
  color: black;
}

.signUpLink {
  font-size: 16px;
  color: #573d8d;
}

.heading {
  display: flex;
  justify-content: center;
}

.image {
  margin: 5px 0 0 7px;
  opacity: 0.8;
  height: 25px;
  width: 25px;
}

@media (min-width: 768px) {
  .container {
    padding: 86px;
  }
  .signInText {
    font-size: 24px;
  }
  .signUpLink {
    font-size: 24px;
  }
  .image {
    margin: 5px 0 0 12px;
    height: 40px;
    width: 40px;
  }
}
