.groceryBag {
  display: none;
}

.signInText {
  font-size: 16px;
  color: black;
}

.signUpLink {
  font-size: 16px;
  color: #573d8d;
}

.heading {
  display: flex;
  justify-content: center;
}

.carrot {
  margin: 5px 0 0 7px;
  opacity: 0.8;
  height: 25px;
  width: 25px;
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
  }

  .groceryBag {
    display: block;
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .signInText {
    font-size: 24px;
  }
  .signUpLink {
    font-size: 24px;
  }
  .carrot {
    margin: 5px 0 0 12px;
    height: 40px;
    width: 40px;
  }
}
