.container {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  width: 307px;
}

.inputButtonPair {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.input {
  background: none;
  height: 50px;
  width: 340px;
  border-width: 0 0 1px;
  border-color: black;
}

.inputButton,
.inputButtonSaved {
  background-color: rgba(235, 221, 245, 0.3);
  width: 100px;
  border-radius: 6px;
  border-width: 1px;
  margin: 10px 0;
}

.inputButton {
  border: 1px solid gray;
}
.inputButtonSaved {
  border: 1.8px solid var(--purple-dark);
}

.container label ~ label {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 596px;
  }

  .input {
    height: 95px;
    width: 450px;
    font-size: x-large;
  }

  .inputButton,
  .inputButtonSaved {
    width: 150px;
    border-radius: 8px;
    font-size: x-large;
  }
}
