.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  margin-top: 34px;
}

.container label {
  text-align: left;
}

.doneLink {
  position: absolute;
  top: 20px;
  right: 20px;
}
