.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  overflow-y: scroll;
  height: 100vh;
  padding: 34px;
}

.container label {
  text-align: left;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }

  .container label {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 75px 50px 50px 22%;
    overflow: scroll;
  }
}
