.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  padding-top: 17px;
  height: 100vh;
}

.container label {
  text-align: left;
}

.doneLink {
  position: absolute;
  inset: 15px 15px auto auto;
}
