.inputField {
  background: none;
  padding-left: 8px;
  margin-top: 25px;
  height: 50px;
  border-width: 0 0 1px;
  width: 100%;
  max-width: 596px;
  border-color: black;
}

.inputField::placeholder {
  color: black;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .inputField {
    max-width: 596px;
    height: 92px;
    font-size: 24px;
  }

  .inputField::placeholder {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .inputField {
    width: 400px;
  }
}
