.text {
  margin-top: -14px;
  color: var(--purple-dark);
}

.artichoke {
  position: absolute;
  top: -10px;
  right: 10px;
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
  opacity: 60%;
}

@media (min-width: 768px) {
  .text {
    font-size: 24px;
  }

  .artichoke {
    height: 225px;
    width: 225px;
  }
}
