.groceryBag {
  display: none;
}
.signinText {
  font-size: 16px;
  color: black;
}
.signInLink {
  font-size: 16px;
  color: #573d8d;
}
.heading {
  display: flex;
  justify-content: center;
  position: relative;
}
.carrot {
  margin: 5px 0 0 7px;
  opacity: 0.8;
  height: 25px;
  width: 25px;
}
.heading1 {
  color: var(--purple-dark);
  font-size: 26px;
  margin-top: 0;
  font-weight: 400;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .signinText {
    font-size: 24px;
  }
  .signInLink {
    font-size: 24px;
  }
  .carrot {
    margin: 5px 0 0 12px;
    height: 40px;
    width: 40px;
  }
  .heading1 {
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
  }
  .groceryBag {
    display: block;
    height: 300px;
    width: 300px;
  }
}
