.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: var(--landing-gradient);
  padding: 34px;
}

.signinText {
  font-size: 16px;
  color: black;
}

.signInLink {
  font-size: 16px;
  color: #573d8d;
}

.heading {
  display: flex;
  justify-content: center;
}

.image {
  margin: 5px 0 0 7px;
  opacity: 0.8;
  height: 25px;
  width: 25px;
}
