.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.container > input {
  margin: 12px 0 25px;
  height: 50px;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 8px;
  background-color: var(--card-background-purple);
  width: 307px;
}

.container input::placeholder {
  color: black;
}

.container textarea {
  margin: 12px 0 25px;
  height: 200px;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 9px;
  font-family: Arial;
  background-color: var(--card-background-purple);
  width: 307px;
}

.container textarea::placeholder {
  color: black;
}

.buttonPair {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.submitButton {
  background-color: var(--purple-light);
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
  margin: 0;
  color: white;
  font-size: medium;
}

@media (min-width: 768px) {
  .container > input {
    height: 92px;
    width: 596px;
  }
  .submitButton {
    line-height: 92px;
    font-size: 24px;
    height: 92px;
    width: 278px;
  }

  .container > label {
    font-size: 24px;
  }

  .container input::placeholder {
    font-size: 24px;
  }

  .container textarea {
    height: 300px;
    width: 596px;
  }

  .container textarea::placeholder {
    font-size: 24px;
  }
}
