html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(#d8ccf3 3%, white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --purple-light: #8178e9;
  --purple-dark: #573d8d;
  --card-background-purple: #f1ecff;
  --filter-red: -#f94d4d;
  --filter-orange: #fd8f52;
  --filter-yellow: #f9c449;
  --filter-green: #6aab9c;
  --filter-blue: #4b37a8;
  --filter-tan: #f2edcf;
  --list-red: -#f94d4d;
  --list-orange: #fd8f52;
  --list-yellow: #ffbb1c;
  --list-green: #479d45;
  --list-blue: #7471e7;
  --list-tan: #97906e;
  --landing-gradient: linear-gradient(-45deg, white, #573d8d);
}
