.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.headings {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  gap: 8px;
}

.glowText {
  font-style: oblique;
  font-size: 32px;
  color: var(--filter-yellow);
}

.buttonPair {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.grapes {
  position: absolute;
  height: 150px;
  width: 150px;
  transform: rotate(-60deg);
  opacity: 0.6;
  top: 0;
  left: 0;
}

.rainbow {
  position: absolute;
  height: 160px;
  width: 160px;
  opacity: 0.6;
  bottom: 0;
  right: 0;
}

.carrot1,
.carrot2,
.carrot3,
.carrot4,
.carrot5 {
  position: absolute;
  height: 50px;
  opacity: 0.5;
}
.carrot1 {
  top: 10%;
  right: 10%;
  transform: scaleX(-1);
}
.carrot2 {
  top: 260px;
  left: -10px;
}
.carrot3 {
  top: -45px;
  right: 20px;
  transform: scaleY(-1);
  z-index: -1;
}
.carrot4 {
  bottom: 40px;
  left: -30px;
  transform: scaleX(-1);
  z-index: -1;
}
.carrot5 {
  left: 10%;
  bottom: 5%;
}
