.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 24px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 11px;
  margin-top: 24px;
}

.buttonContainer button {
  background-color: grey;
  height: 50px;
  width: 148px;
  border-radius: 4px;
  border: none;
}

.avatarList {
  display: flex;
  height: 350px;
  justify-content: space-around;
  margin-bottom: 24px;
}

.avatarColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatarListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(177, 177, 177);
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.avatar {
  height: 75px;
  width: 75px;
}
