.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 60px;
  gap: 15px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    margin: 35px 0 60px;
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 15px;
  }
}
