.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 34px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container {
    padding: 86px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 50px 50px 50px 22%;
  }
}
