.container,
.containerLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100vh;
  padding: 34px;
}

.containerLanding {
  background-image: linear-gradient(-45deg, white, #573d8d);
}

@media (min-width: 768px) and (min-height: 1024px) {
  .container,
  .containerLanding {
    padding: 86px;
  }
  .containerLanding {
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 50px 50px 50px 22%;
  }
  .containerLanding {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
